@import "tailwindcss";



h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-dm-sans);
}

p {
  font-family: var(--font-open-sans);
  font-size: 18px;
}

h2{
    font-size: 36px;
}

.error{
  font-size: 14px;
}